<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<header>
  <div id="nav">
  <form action="/" method="get">
    <input type="submit" value='Grab a drink'>
  </form>
        <form action="/users/logout" method='post'>
          <input class="button" type="submit" value="logout">
        </form>


  </div>
</header>
<h1><%= userId.username %>'s Cabinet</h1>
<p>working</p>
  <div>
    <% user.forEach(drink => { %>
        <h4><%= drink.name %></h4>
        <p><%= drink.description %></p>
        <p><%= drink.ingredients %></p>
        <img src="<%= drink.image %>" alt="">
        <form method="POST" action="/users/delete?_method=DELETE">
            <input type="hidden" name="drink[id]" value="<%= drink.id %>">
            <button>drink</button>
        </form>
    <% }) %>
  </div>
</body>
</html>
